eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8777
spring:
  application:
    name: ws-service
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin